:root {
    --color-base-black: #000;
    --color-base-white: #FFF;
    --color-base-gray: #6f6f6f;
    --color-primary: #0097ab;
    --color-warning: #887f14;
    --color-danger: #d30202;

    --form-width: 20rem;
    --input-height: 2rem;

    --font-size-lg: 1rem;
    --line-height-lg: calc(var(--font-size-lg) * 1,5)
}

.main {
    background-color: var(--color-base-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}